@import '../../index.scss';

.avatar-area {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  img {
    width: 35px;
    clip-path: circle();
  }
  .details {
    padding-left: 10px;
    padding-top: 4px;
    color: grey;
    line-height: 14px;
    .name {
      font-weight: bold;
      cursor: pointer;
    }
    .org {
      font-size: 12px;
    }
  }
}

.post-text {
  margin: 15px 0;
  font-weight: 300;
  color: rgb(71, 71, 71);
}

.react-links {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  .lefthalf {
    flex: 1;
  }

  .righthalf {
    flex: 1;
  }

  .share {
    text-align: right;
    span.shareIcon {
      margin: 0 20px;
    }
  }
}

span {
  cursor: pointer;
}

img {
  cursor: pointer;
}
