@import '../../index.scss';

.register-container{
    display: flex;
    .leftDiv{
        width: 60%;
        height:100vh;
        background-color:$primary ;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(1,1,1,0.3)),url('../../images/Register_page_image.jpg') ;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        display: flex;
    }
    .rightDiv{
        width: 40%;
        height:100vh;
        background: linear-gradient(190deg, rgba(134,177,255,1) 0%, rgba(190,235,255,1) 20%, rgba(232,240,255,1) 50%, rgba(190,235,255,1) 80%, rgba(134,177,255,1) 100%);
        justify-content: center;
    }

    .slogen{
        margin: auto;
        width:80%;
        text-align: center;
        margin-top: 20%;
        font-size: 60px;
        color: $primary;
        font-family: 'Reem Kufi';
    }
}
.center {
    display: block;
    margin: auto;
    width: 300px;
    justify-content: center;
  }
.register_form{
    width: 100%;
    display: flex;
   
    justify-content: center;
}